 *{
  max-width: 1440px;
  margin: auto;
     padding: 0;
       font-family: "Poppins", sans-serif;
  font-style: normal;
 }
 header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
 }
 .manu ul{
  display: flex;
  gap: 3rem;
 }
 .manu li{
  list-style: none;
 }
 .manu a{
  font-size: 20px;
  text-decoration: none;
  color: black;
 }
 .manu a:hover{
  color: red;
 }









 @media screen and (max-width:576px) {
  header{
    flex-wrap: wrap;
  }
  .logo h1{
    font-size: 2.5rem;
    color: aqua;
  }
  .manu ul {
    gap: 20px;
  }

 }

